<ion-content>
  <div class="d-flex-center">
    <form action="" class="auth-form">

      <app-logo></app-logo>
      <app-login-input></app-login-input>
      <app-login-input></app-login-input>

      <div class="validators"></div>

      <p routerLink="forgot-password" class="ion-text-end">¿Olvidaste la contraseña?</p>

      <ion-button class="submit" expand="block" mode="ios" fill="outline">
        Ingresar
      </ion-button>

      <ion-button class="ion-margin-top" expand="block" mode="ios" fill="outline">
        Registrarse
      </ion-button>
      
    </form>
  </div>
</ion-content>