<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color" style="color: white;">
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="d-flex-center">
    <form action="" class="auth-form">

      <app-logo></app-logo>

      <p class="ion-text-center">Ingresa tu correo electrónico</p>
      <app-login-input></app-login-input>

      <div class="validators"></div>

      <ion-button class="submit" expand="block" mode="ios" fill="outline">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

      
    </form>
  </div>
</ion-content>