<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color" style="color: white;">
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="d-flex-center">
    <form action="" class="auth-form">

      <app-logo></app-logo>
      <app-login-input></app-login-input>

      <div class="validators"></div>

      <ion-button class="ion-margin-top" expand="block" mode="ios" fill="outline">
        Registrarse
      </ion-button>
      
    </form>
  </div>
</ion-content>